In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/data-sklearn/car-sales-extended-missing-data.csv
/kaggle/input/data-sklearn/heart-disease.csv
/kaggle/input/data-sklearn/car-sales-missing-dropped.csv
/kaggle/input/data-sklearn/exported-car-sales.csv
/kaggle/input/data-sklearn/car-sales.csv
/kaggle/input/data-sklearn/car-sales-extended.csv

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

car_sales = pd.read_csv("/kaggle/input/data-sklearn/car-sales.csv")
car_sales.head()

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [3]:
X = car_sales.drop("Price", axis = 1)
y = car_sales["Price"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [4]:
model = RandomForestRegressor()

In [5]:
# model.fit(X_train, y_train)

In [6]:
car_sales.head(5)

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [7]:
car_sales['Price'] = car_sales['Price'].replace('[\$,]', '', regex=True).astype(float).astype(int)

In [8]:
car_sales.head(5)

     Make Colour  Odometer (KM)  Doors  Price
0  Toyota  White         150043      4   4000
1   Honda    Red          87899      4   5000
2  Toyota   Blue          32549      3   7000
3     BMW  Black          11179      5  22000
4  Nissan  White         213095      4   3500

In [9]:
X = car_sales.drop("Price", axis = 1)
y = car_sales["Price"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [10]:
transform_X = pd.get_dummies(X, columns=["Make", "Colour", "Doors"])
transform_X.head()

,Odometer (KM),Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White,Doors_3,Doors_4,Doors_5
0,150043,0,0,0,1,0,0,0,0,1,0,1,0
1,87899,0,1,0,0,0,0,0,1,0,0,1,0
2,32549,0,0,0,1,0,1,0,0,0,1,0,0
3,11179,1,0,0,0,1,0,0,0,0,0,0,1
4,213095,0,0,1,0,0,0,0,0,1,0,1,0

In [11]:
X_train, X_test, y_train, y_test = train_test_split(transform_X, y, test_size=0.2)
model.fit(X_test, y_test)

RandomForestRegressor()

In [12]:
model.score(X_test, y_test)

0.779

In [13]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [14]:
X_train.head()

,Odometer (KM),Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White,Doors_3,Doors_4,Doors_5
1,87899,0,1,0,0,0,0,0,1,0,0,1,0
7,54738,0,1,0,0,0,1,0,0,0,0,1,0
6,45698,0,1,0,0,0,1,0,0,0,0,1,0
2,32549,0,0,0,1,0,1,0,0,0,1,0,0
9,31600,0,0,1,0,0,0,0,0,1,0,1,0

In [15]:
one_hot = OneHotEncoder()
categorical_features = ["Make", "Colour", "Doors"]

transform_X = ColumnTransformer([("one_hot", 
                                 one_hot, 
                                 categorical_features)],
                                 remainder="passthrough")

In [16]:
# X_train, X_test, y_train, y_test = train_test_split(transform_X, y, test_size=0.2)
# model.fit(X_train, y_train)
# model.score(X_test, y_test)

In [17]:
car_sales_missing = pd.read_csv("/kaggle/input/data-sklearn/car-sales-extended-missing-data.csv")
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [18]:
car_sales_missing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           951 non-null    object
 1   Colour         950 non-null    object
 2   Odometer (KM)  950 non-null    float64
 3   Doors          950 non-null    float64
 4   Price          950 non-null    float64
dtypes: float64(3), object(2)
memory usage: 39.2+ KB

In [19]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [20]:
# fill the missing values
car_sales_missing["Make"].fillna("missing", inplace=True)
car_sales_missing["Colour"].fillna("missing", inplace=True)
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(), inplace=True)
car_sales_missing["Doors"].fillna(4, inplace=True)
car_sales_missing.dropna(inplace=True)

In [21]:
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

In [22]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

feature_categories = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformed_X = ColumnTransformer(["one_hot", one_hot, feature_categories ], remainder = "passthrough")

In [23]:
# from sklearn.model_selection import train_test_split
# from sklearn.ensemble import RandomForestRegressor
# X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)
# model.fit(X_train, y_train)
# model.score(X_test, y_test)

In [24]:
# Imputation
import pandas as pd
car_sales_missing = pd.read_csv("/kaggle/input/data-sklearn/car-sales-extended-missing-data.csv")
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [25]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [26]:
car_sales_missing.dropna(subset=["Price"], inplace=True)
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [27]:
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

In [28]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
category_imputer = SimpleImputer(strategy="constant", fill_value="missing")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)
numerical_imputer = SimpleImputer(strategy="mean")

category_features = ["Make", "Colour"]
door_features = ["Doors"]
numerical_feature = ["Odometer (KM)"]

transform = ColumnTransformer([
    ("category_imputer", category_imputer, category_features),
    ("door_imputer", door_imputer, door_features),
    ("numerical_imputer", numerical_imputer, numerical_feature)
])

transformed_X = transform.fit_transform(X)

In [29]:
car_sales_filled = pd.DataFrame(transformed_X, columns=["Make", "Colour", "Doors", "Odometer (KM)"])
car_sales_filled.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [30]:
# convert categorical data to numerical
from sklearn.preprocessing import OneHotEncoder

categorical_features = ["Make", "Colour", "Doors"]

one_hot = OneHotEncoder()
transform_category_numerical = ColumnTransformer([
    ("one_hot", one_hot, categorical_features)
], remainder="passthrough")
transformed_X = transform_category_numerical.fit_transform(car_sales_filled)

In [31]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import numpy as np
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)

In [32]:
X_train.shape, y_train.shape

((760, 15), (760,))

In [33]:
model = RandomForestRegressor()
model.fit(X_test, y_test)
model.score(X_train, y_train)

0.2302502267526798